* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  position: relative;
  margin-bottom: 20px;
}

body {
  background-color: rgba(243, 243, 243, 0.913);
  font-family: monospace;
  font: 3rem sans-serif;
  margin: 0px;
}

main {
  text-align: center;
  margin: 20px;
  padding: 20px;
}
.header-nav ul {
  list-style-type: none;
  background-color: rgb(72, 71, 71);
  padding: 0px;
  margin: 0px;
  display: flex;
  gap: 2rem;
  overflow: hidden;
  justify-content: center;
}
.header-nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  position: sticky;
}
.header-nav ul li a:hover {
  background-color: rgba(12, 12, 12, 0.8);
}
.header-nav li {
  float: left;
}

.header-btn {
  background-color: rgba(147, 135, 78, 0.5);
  color: whitesmoke;
}

h1 {
  font-family: pacifico;
  font-size: large;
}

.header-img {
  width: 100%;
  height: auto;
}

#main-btn {
  background-color: green;
  color: yellow;
}

#main-btn:hover {
  background-color: red;
  color: white;
}

.main-img1 {
  width: 30%;
  height: auto;
}
.main-img2 {
  width: 30%;
  height: auto;
}
.main-img3 {
  width: 30%;
  height: auto;
}
#main-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

footer {
  background-color: rgb(72, 71, 71);
  color: white;
  text-align: center;
  padding: 10px;
  font-size: small;
  bottom: 0;
  width: 100%;
  position: fixed;
}
